

/* hacksidian:hack:list-ordered-o026:start */
:is(.markdown-preview-view, .markdown-source-view) li {
  border-radius: .3em;
  transition: background-color .2s;
}
:is(.markdown-preview-view, .markdown-source-view) li:hover {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) li:hover::marker {
  color: var(--interactive-accent);
}
@media (prefers-reduced-motion:reduce) {
  :is(.markdown-preview-view, .markdown-source-view) li {
    transition: none;
  }
}

/* hacksidian:hack:list-ordered-o026:end */

/* hacksidian:hack:list-e085:start */
:is(.markdown-preview-view, .markdown-source-view) {
  gap: 0;
}
:is(.markdown-preview-view, .markdown-source-view) ul {
  margin-block: .3em 1.5em;
}
:is(.markdown-preview-view, .markdown-source-view) > p:has(+ ul), :is(.markdown-preview-view, .markdown-source-view) .el-p:has(+ .el-ul) > p {
  font-weight: 650;
}

/* hacksidian:hack:list-e085:end */

/* hacksidian:hack:list-e030:start */
:is(.markdown-preview-view, .markdown-source-view) li + li {
  margin-block-start: 1.15em;
}
/* hacksidian:hack:list-e030:end */
