

/* hacksidian:hack:callout-technical-icon-margin:start */
:is(.markdown-preview-view, .markdown-source-view) .callout {
  position: relative;
  padding-block: 1.35em;
  padding-inline-start: 3.1em;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title {
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title > .callout-icon {
  position: absolute;
  inset-inline-start: -2.1em;
  inset-block-start: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 1.35em;
  height: 1.35em;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content {
  padding-block-start: 0;
  margin-block-start: 0.45em;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content > :first-child {
  margin-block-start: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content > :last-child {
  margin-block-end: 0;
}
/* hacksidian:hack:callout-technical-icon-margin:end */
