

/* hacksidian:hack:quote-brackets:start */
:is(.markdown-preview-view, .markdown-source-view) blockquote {
  position: relative;
  border: 0;
  padding: 1.2em 1.5em;
}
:is(.markdown-preview-view, .markdown-source-view) blockquote::before, :is(.markdown-preview-view, .markdown-source-view) blockquote::after {
  content: "";
  position: absolute;
  inset-block: 0;
  width: .6em;
  border-block: 2px solid var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) blockquote::before {
  inset-inline-start: 0;
  border-inline-start: 2px solid var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) blockquote::after {
  inset-inline-end: 0;
  border-inline-end: 2px solid var(--interactive-accent);
}

/* hacksidian:hack:quote-brackets:end */
